.container {
  position: absolute;
  top: -30px;
  left: -190px;
  transform: translateX(-50%);
  transform: rotate(-10deg);
  width: 140px;
  pointer-events: none;
  z-index: 2;
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.5));
}

.svg {
  width: 100%;
  height: auto;
}
